<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediaOrganiser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AA9D39525AA132D00F86F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA9D3A725AA132E00F86F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA9D3B225AA132E00F86F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
